[package]
name = "qwop-like-stealth-train-robbery-at-sea-game"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ggez = "0.7.0"
glam = { version = "0.20", features = ["mint"]}
